@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Monoton:wght@600&display=swap');

.experience-page {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 1vw;
    overflow: hidden;
    z-index: 1;
}

.page-header {
    font-size: clamp(35px, 5vw, 50px);
    font-family: 'Poppins', sans-serif;
    font-weight: 200;

    border-bottom: 2.5px solid rgb(var(--secondary-rgb));
}

.page-sub-header {
    width: 100%;
    height: 10%;
    margin-top: 10px;
}

.linkedIn-btn {
    background-color: rgb(var(--tertiary-rgb));
    padding: 5px;
    color: rgb(var(--details-rgb));
    font-size: max(2.7vh, 16px);
    transition: ease-in-out 0.25s;
    border-bottom: 1px solid rgb(var(--primary-rgb));
}

.linkedIn-btn:hover {
    background-color: rgb(var(--reserve-rgb));
    color: rgb(var(--details-2-rgb));
}

.experiences-list-timeline {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    bottom: 0px;
    right: 0px;
    max-height: 82.5%;
    width: 100%;
    overflow-y: auto;
    z-index: 1;
}

/* This can be done in a better way!*/
@media only screen and (max-height: 374px) {
    .experiences-list-timeline {
        max-height: 63%;
    }
}
@media only screen and (min-height: 375px) and  (max-height: 410px) {
    .experiences-list-timeline {
        max-height: 66%;
    }
}
@media only screen and (min-height: 411px) and  (max-height: 495px) {
    .experiences-list-timeline {
        max-height: 70%;
    }
}
@media only screen and (min-height: 496px) and (max-height: 600px) {
    .experiences-list-timeline {
        max-height: 74.5%;
    }
}
@media only screen and (min-height: 601px) and (max-height: 700px) {
    .experiences-list-timeline {
        max-height: 78.5%;
    }
}

.experiences-list-timeline::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(var(--primary-rgb),0.25);
	border-radius: 10px;
	background-color: rgba(var(--reserve-rgb),0.5);
}

.experiences-list-timeline::-webkit-scrollbar
{
	width: 7px;
	background-color: rgba(var(--background-start-rgb), 0);
}

.experiences-list-timeline::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(var(--primary-rgb),0.25);
	background-color: rgba(var(--tertiary-rgb),0.5);
}

.timeline-item {
    position: relative;
    display: flex;
    flex-direction: row;
}

.timeline-item:first-child {
    margin-top: auto !important;
}
.timeline-item:last-child {
    margin-bottom: 5px !important;
    padding-bottom: 0;
}
.timeline-item:last-child::after {
    content: none;
}

.timeline {
    list-style-type: none;
    padding: 0;
    margin-left: 8.75px;
}

.timeline li {
    position: relative;
    padding: 10px 5px 0px 0px;
    background-color: rgba(0,0,0,0);
    border-left: 3px solid rgb(var(--weaker-reserve-rgb));
}

.timeline li:last-child {
    margin-bottom: 0;
}

.timeline-item-content {
    display: flex;
    flex-direction: column;
}

.timeline-item-header {
    position: relative;

    display: flex;
    flex-direction: row;
}

.timeline-item-role {
    margin-left: 76.25px;
    padding-top: 6px;
    text-decoration: underline;
    font-size: clamp(18px, 2.2vh, 20px);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: rgb(var(--secondary-rgb));
}


/*@media only screen and (min-height: 665px) and (max-height: 899px) {
    .timeline-item-role {
        padding-top: 5px;
    }
}*/
@media only screen and (min-height: 900px) {
    .timeline-item-role {
        padding-top: 5px;
    }

    .timeline-item-date::after {
        line-height: 1.2 !important;
    }
}

.timeline-item-date {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: clamp(12px, 1.5vh, 14px);
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
}

.timeline-item-date::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -27px; 
    transform: translateY(-50%);
    width: 22px; 
    height: 22px;
    background-color: rgb(var(--weaker-reserve-rgb)); 
    border-radius: 50%; 
    z-index: 7;
}

.timeline-item-date::after {
    content: '\2139';
    color: rgb(var(--details-rgb));
    position: absolute;
    top: 50%;
    left: -24px; 
    transform: translateY(-50%);
    width: 16px; 
    height: 16px;
    background-color: rgb(var(--primary-rgb)); 
    border-radius: 50%;
    z-index: 8;

    /* Center the icon in the element itself */
    text-align: center; 
    line-height: 1.275;

    transition: 0.25s ease;
}

.timeline-item-date:hover::after {
    background-color: rgb(var(--weaker-reserve-rgb));
    color: rgb(var(--details-2-rgb));
    cursor: pointer;
}

.timeline-item-details {
    margin-left: 76.25px;
    font-size: clamp(13px, 1.75vh, 14px);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;    
}

.timeline-item-company {
    font-size: clamp(14px, 2vh, 16px);
    margin-right: 1px;
}

.timeline-item-client {
    margin-left: 1px;
    font-weight: 300;
}

.timeline-item-stack-list {
    margin-left: 76.25px;
    font-size: clamp(12px, 1.9vh, 14px);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;  
    margin-top: 2.5px;  
}

.timeline-item-stack-tech {
    padding: 1px 5px 1px 5px;
    margin-right: 2.5px;
    margin-bottom: 2.5px;
    background-color: rgb(var(--tertiary-rgb));
    color: rgb(var(--details-rgb));
    border: 1px solid rgb(var(--primary-rgb));
    border-radius: 2.5px;
    display: inline-block;
    width: fit-content;
}

.timeline-progression {
    position: relative;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    font-size: clamp(10px, 1.5vh, 14px);
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;    
}
    .timeline-progression.role {
        margin-bottom: -15px;
        color: rgb(var(--weaker-reserve-rgb));
    }
    .timeline-progression.company {
        margin-bottom: -5px;
        color: rgb(var(--secondary-rgb));
    }

.timeline-progression::before {
    content: '';
    position: relative;
    top: 45%;
    right: 5px;
    height: 2px; 
    z-index: 0; 
}
    .timeline-progression.role::before {
        width: 10px;
        background-color: rgba(var(--weaker-reserve-rgb), 0.75); 
    }
    .timeline-progression.company::before {
        width: 20px;
        background-color: rgba(var(--secondary-rgb), 0.75); 
    }

.timeline-progression::after {
    content: '';
    position: relative;
    top: 45%;
    left: 5px;
    height: 2px; 
    z-index: 0; 
}
    .timeline-progression.role::after {
        width: 10px;
        background-color: rgba(var(--weaker-reserve-rgb), 0.75); 
    }
    .timeline-progression.company::after {
        width: 20px;
        background-color: rgba(var(--secondary-rgb), 0.75); 
    }

.progression-text {
    position: relative;
    z-index: 1;
}



  