.project-image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    color: white;
    font-size: 100%;
    background-color: rgba(var(--details-2-rgb), 0.45);

    /* display flex */
    align-items: center;
    justify-content: center;
    flex-direction: column;

    opacity: 1; 
    transition: opacity 0.3s ease-in-out !important;

    z-index: 4;
}

.project-utils {
    position: relative;
    height: 38px;
    width: 207px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 2px;

    padding-top: 3px;
    padding-bottom: 3px;

    background-color: rgba(var(--imageviewer-background-utils-specific-rgb), 0.45);

    border: 1px solid rgb(var(--stronger-reserve-rgb),0.8);
    border-radius: 5px;
}

@media only screen and (max-height: 375px) {
    .project-utils {
        height: 33px;
        
        padding-top: 2.575px;
        padding-bottom: 2.575px;
    }
  }
  @media only screen and (min-height: 375px) and (max-height: 550px) {
    .project-utils {
        height: 35px;
        
        padding-top: 2.75px;
        padding-bottom: 2.75px;
    }
  }

.close-btn {
    padding-top: 1.7px;
    margin-left: 10px;
}

.go-to-website-btn {
    margin-left: 5px;
    margin-right: 7px;
}

.close-btn, .go-to-website-btn, .next-image-btn, .previous-image-btn {
    height: 100%;
    width: 30px;
}

.next-image-btn, .previous-image-btn {
    background-color: rgb(var(--tertiary-rgb));
    color: rgb(var(--details-rgb));

    border: 1px solid rgb(var(--details-2-rgb));
    border-radius: 5px;
}

.close-btn svg {
    width: 91%;
    height: 95%;
}

.go-to-website-btn svg {
    width: 88.5%;
    height: 88.5%;
}

.next-image-btn svg, .previous-image-btn svg {
    width: 106%;
    height: 106%;
}

.close-btn:hover svg {
    width: 93.5%;
    height: 97.5%;

    color: rgb(var(--stronger-reserve-rgb));
}

.go-to-website-btn:hover svg {
    width: 92.5%;
    height: 92.5%;

    color: rgb(var(--stronger-reserve-rgb));
}

.next-image-btn:hover {
    color: rgb(var(--details-2-rgb));
}

.previous-image-btn:hover {
    color: rgb(var(--details-2-rgb));
}

.image-counter {
    width: 50px;
    height: 95%;
    margin-left: 3.5px;
    margin-right: 3.5px;

    background-color: rgb(var(--imageviewer-imagecounter-specific-rgb), var(--imageviewer-imagecounter-specific-opacity));
    border: 1px solid rgb(var(--details-2-rgb));
    border-radius: 2px;

    color: rgb(var(--details-rgb));

    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image-space {
    position: relative;
    height: 100%;
    width: 90%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.project-image {
    width: 100%;
    height: auto;
}