.about-me-page {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 1vw;
    z-index: 1;
}

.page-header {
    font-size: clamp(35px, 5vw, 50px);
    font-weight: 200;

    border-bottom: 2.5px solid rgb(var(--secondary-rgb));
}

.page-sub-header {
    width: 100%;
    height: 10%;
    margin-top: 10px;
}

.linkedIn-btn, .gitHub-btn {
    background-color: rgb(var(--tertiary-rgb));
    padding: 5px;
    color: rgb(var(--details-rgb));
    font-size: max(2.7vh, 16px);
    transition: ease-in-out 0.25s;
    border-bottom: 1px solid rgb(var(--primary-rgb));
}

.gitHub-btn {
    margin-left: 10px;  
}

.gitHub-btn:hover, .linkedIn-btn:hover {
    background-color: rgb(var(--reserve-rgb));
    color: rgb(var(--details-2-rgb));
    cursor: pointer;
}

.page-presentation {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    bottom: 0px;
    right: 0px;
    height: 75%;
    width: 30rem;
    max-width: 100%;
    overflow-y: auto;
    overflow-x:hidden;
    z-index: 1; 
    padding-right: 6.5px;
}

@media only screen and (max-height: 355px) {
    .page-presentation {
        height: 62.5%;
    }
}
@media only screen and (min-height: 355px) and (max-height: 415px) {
    .page-presentation {
        height: 65%;
    }
}
@media only screen and (min-height: 415px) and (max-height: 505px) {
    .page-presentation {
        height: 70%;
    }
}

.page-presentation::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(var(--primary-rgb),0.25);
	border-radius: 10px;
	background-color: rgba(var(--reserve-rgb),0.5);
}

.page-presentation::-webkit-scrollbar
{
	width: 7px;
	background-color: rgba(var(--background-start-rgb), 0);
}

.page-presentation::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(var(--primary-rgb),0.25);
	background-color: rgba(var(--tertiary-rgb),0.5);
}

.presentation-message {
    font-size: clamp(16px, 1.75vw, 18px);
    font-weight: 300;
    margin-top: auto;
    margin-left: 2px;
}

.presentation-message strong {
    font-weight: bold;
    color: rgb(var(--primary-rgb));
}

.presentation-message a {
    text-decoration:underline;
    text-underline-offset: 4px;
    color: rgb(var(--primary-rgb));
}

.presentation-message a:hover {
    /*border-color:rgb(50, 78, 158);*/
    cursor: pointer;
    color: rgb(var(--tertiary-rgb));
}