@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Monoton:wght@600&display=swap');

.projects-page {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 1vw;
    overflow: hidden;
}

.page-header {
    font-size: clamp(35px, 10vw, 50px);
    font-family: 'Poppins', sans-serif;
    font-weight: 200;

    border-bottom: 2.5px solid rgb(50, 78, 158);
}

.projects-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    bottom: 0px;
    right: 0px;
    height: 65%;
    width: 100%;
    overflow-y: auto;
    z-index: 1;
}

/*Scroll related stuff (config for different browsers)*/
/* Firefox */
.projects-list {
    scrollbar-width:thin;
    scrollbar-color: rgb(235, 234, 234) #b9b9b9;
}

/* WebKit browsers */
.projects-list::-webkit-scrollbar {
    width: 5px;
}

.projects-list::-webkit-scrollbar-thumb {
    background-color: #b9b9b9;
    border-radius: 10px;
}

.projects-list::-webkit-scrollbar-track {
    background-color: rgb(235, 234, 234);
}

/* Generic styling (for browsers without full support) */
.projects-list {
    scrollbar-face-color: #b9b9b9;
    scrollbar-shadow-color: rgb(235, 234, 234);
    scrollbar-highlight-color: rgb(235, 234, 234);
    scrollbar-3dlight-color: rgb(235, 234, 234);
    scrollbar-darkshadow-color: #b9b9b9;
    scrollbar-track-color: rgb(235, 234, 234);
}

/* Style for IE */
.projects-list::-ms-scrollbar {
    width: 5px;
}

.projects-list::-ms-scrollbar-thumb {
    background-color: #b9b9b9;
    border-radius: 10px;
}

.projects-list::-ms-scrollbar-track {
    background-color: rgb(235, 234, 234);
}

.project-item {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 11px;
    padding-bottom: 10px;
    margin-right: 7.5px;
}

.project-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    height: 2px; /* Adjust the height of the border */
    background-color: #b9b9b9;
}

.project-item:first-child {
    margin-top: auto !important;
}
.project-item:last-child {
    margin-bottom: 5px !important;
    padding-bottom: 0;
    border: none;
}
.project-item:last-child::after {
    display: none;
}

.project-item-image {
    position: relative;
    margin-right: 25px; 
}

.project-item-image:hover {
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    color: white;
    font-size: 100%;
    background-color: rgba(0, 0, 0, 0.45);

    display: none;
    align-items: center;
    justify-content: center;

    opacity: 0; 
    transition: opacity 0.3s ease-in-out !important;
}

.project-item-image:hover .overlay {
    opacity: 1;
}

.overlay svg {
    width: 22%;
    height: 35%;
}

.overlay svg:hover {
    cursor: pointer;
    width: 24%;
    height: 38%;
}


@media only screen and (max-width: 600px) {
    .project-item {
        flex-direction: column;    
    }

    .project-item-image {
        margin-right: 0px; 
        margin-bottom: 10px;
    }
}

.project-item-image-frame {
    width: 100%;
    height: 100%;
}
  
.project-item-info {
    display: flex;
    flex-direction: column; 
}

.project-item-info-name {
    text-decoration: underline;
    font-size: max(3.3vh, 20px);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: rgb(43, 75, 161);
}

.project-item-info-state {
    display: flex;
    flex-direction: row; 
}

.project-item-info-date {
    font-size: max(2.3vh, 12px);
    margin-right: 7px;
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
}

.project-item-info-separator {
    font-size: max(2.3vh, 12px);
}

.project-item-info-status {
    font-size: max(2.3vh, 12px);
    margin-left: 10px;
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
}

.project-item-info-techs {
    display: flex;
    flex-direction: row; 
    align-items: center;
}

.project-item-info-tech {
    font-size: max(2.5vh, 14px);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;    
}

.project-item-info-techs-icon {
    margin-left: 7px;
    color: rgb(37, 37, 37);
    font-size: max(2.7vh, 16px);
}

.project-item-info-techs-icon:hover {
    color: rgb(43, 75, 161);
    font-size: max(2.8vh, 17px);
    cursor: pointer;
}






  