@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --min-height: 335px !important;
  --min-width: 255px !important;
  height: 100%;
  min-height: var(--min-height);
  min-width: var(--min-width);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    height: 100%;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.main-screen {
  position: absolute;
  top: 3%;
  bottom: 3%;
  left: 13%;
  width: 74%;
  /*var min-width - 17*/
  min-width: 238px !important;
  /*var min-height - 11.5*/
  min-height: 323.5px !important;

  border: 0.1px solid rgba(25,25,25,0.25);
  z-index: -1;
}
@media only screen and (max-width: 325px) {
  .main-screen {
      left: 1.25%;
      width: 97.5%;
  }
}
@media only screen and (min-width: 325px) and (max-width: 450px) {
  .main-screen {
      left: 3%;
      width: 94%;
  }
}
@media only screen and (min-width: 450px) and (max-width: 600px) {
  .main-screen {
      left: 5%;
      width: 90%;
  }
}
@media only screen and (max-height: 475px) {
  .main-screen {
      top: 1.5%;
      bottom: 1.5%;
  }
}

.main-screen-page {
  position: relative;
  border-radius: 5px;
}

#main-screen-addorns {
  background-color: inherit;
  height: 100%;
}

.corner {
  position: absolute;
}
#main-screen-addorns .corner {
  background: none;
  height: 30vh;
  width: 27.5vw;
}

#top-left {
  top: 5px;
  left: 5px;
  border-radius: 7.5px 0 0 0;
  border-top: 15px solid rgb(50, 78, 158);
  border-left: 15px solid rgb(50, 78, 158);
}

#top-left-rounded-corner {
  position: absolute;
  top: 12px;
  left: 12px;
  height: 20px;
  width: 20px;
  border-radius: 13.5px 0 0 0;
  border-top: 7.5px solid rgb(50, 78, 158);
  border-left: 7.5px solid rgb(50, 78, 158)
}

#top-left-right-triangle {
  position: absolute;
  top: 5px;
  left: 27.5vw;
  margin-left: 4.50px;
  width: 10px;
  height: 10px;
  background-color: rgb(50, 78, 158);
  border-left: 15px solid transparent; /* Adjust the width of the left side */
  border-bottom: 15px solid transparent;  /* Set the color you desire */
  clip-path: polygon(0 0, 100% 0, 0 100%);

}

#top-left-bottom-triangle {
  position: absolute;
  top: 30vh;
  left: 5px;
  width: 10px;
  height: 10px;
  margin-top: 4.85px;
  background-color: rgb(50, 78, 158);
  border-left: 15px solid transparent; /* Adjust the width of the left side */
  border-bottom: 15px solid transparent;  /* Set the color you desire */
  clip-path: polygon(0 0, 100% 0, 0 100%);

}

#bottom-right {
  bottom: 5px;
  right: 5px;
  border-radius: 0 0 5px 0;
  border-bottom: 15px solid rgb(50, 78, 158);
  border-right: 15px solid rgb(50, 78, 158);
}

#bottom-right-rounded-corner {
  position: absolute;
  bottom: 12px;
  right: 12px;
  height: 20px;
  width: 20px;
  border-radius: 0 0 13.5px 0;
  border-bottom: 7.5px solid rgb(50, 78, 158);
  border-right: 7.5px solid rgb(50, 78, 158)
}

#bottom-right-left-triangle {
  position: absolute;
  bottom: 5px;
  right: 27.5vw;
  margin-right: 4.70px;
  width: 10px;
  height: 10px;
  background-color: rgb(50, 78, 158);
  border-left: 15px solid transparent; /* Adjust the width of the left side */
  border-bottom: 15px solid transparent;  /* Set the color you desire */
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

#bottom-right-top-triangle {
  position: absolute;
  bottom: 30vh;
  right: 5px;
  margin-bottom: 4.55px;
  width: 10px;
  height: 10px;
  background-color: rgb(50, 78, 158);
  border-left: 15px solid transparent; /* Adjust the width of the left side */
  border-bottom: 15px solid transparent;  /* Set the color you desire */
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

#main-content {
  position: absolute;
  top: 30px;
  left: 35px;
  right: 35px;
  bottom: 30px;
}

@media only screen and (max-width: 420px) {
  #main-content {
    left: 35px;
    right: 27.5px;
  }
}

#navigation-marker {
  position: relative;
  top: 10px;
  padding-left: 1.1vw;
  font-size: 3vh;
}





