@tailwind base;
@tailwind components;
@tailwind utilities;

.root-html {
  -o-transition: 0.325s -o-filter linear;
  -webkit-transition: 0.325s -webkit-filter linear;
  -moz-transition: 0.325s -moz-filter linear;
  -ms-transition: 0.325s -ms-filter linear;
  transition: 0.325s filter linear;
}

:root {
  --background-start-rgb: 245, 245, 245;
  --background-end-rgb: 210, 210, 210;
  --min-height: 335px !important;
  --min-width: 265px !important;
  height: 100%;
  min-height: var(--min-height);
  min-width: var(--min-width);

  /* Light scheme */
  --details-rgb: 255, 255, 255;
  --details-2-rgb: 0, 0, 0;

  --primary-rgb: 52, 60, 96;
  --secondary-rgb: 81, 87, 123; 
  --tertiary-rgb: 109, 115, 151;
  --weaker-reserve-rgb: 143, 145, 174;
  --reserve-rgb: 177, 181, 216;
  --stronger-reserve-rgb: 224, 227, 250;

  --primary-link-rgb: 42, 50, 86;

  --darker-green-rgb: 0, 162, 104;
  --lighter-green-rgb: 0, 177, 121;

  --sidebar-btn-specific-rgb: 0,0,0;

  --imageviewer-background-utils-specific-rgb: 0,0,0;
  --imageviewer-imagecounter-specific-rgb: 0,0,0;
  --imageviewer-imagecounter-specific-opacity: 0.45;
}

[data-theme="dark"] {
  --background-start-rgb: 45, 45, 45;
  --background-end-rgb: 10, 10, 10;

  /* Dark scheme */
  --details-rgb: 0, 0, 0;
  --details-2-rgb: 255, 255, 255;

  --primary-rgb: 209, 177, 164;
  --secondary-rgb: 216, 187, 176; 
  --tertiary-rgb: 223, 197, 188;
  --weaker-reserve-rgb: 228, 205, 198;
  --reserve-rgb: 233, 212, 205;
  --stronger-reserve-rgb: 240, 225, 220;

  --primary-link-rgb: 211, 171, 155;

  --darker-green-rgb: 0, 162, 104;
  --lighter-green-rgb: 0, 177, 121;

  --imageviewer-imagecounter-specific-rgb: 255,255,255;
  --imageviewer-imagecounter-specific-opacity: 0.8;
}

body {
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  ),
  rgb(var(--background-start-rgb));
}

.slider {
  position: fixed;
  top: 0vh;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(225, 225, 225);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;

  z-index: 8;
}

.slider-content {
  display: flex;
  flex-direction: row;
}

.content-name {
  margin-left: 5px;
  margin-right: 5px;
  
  font-size: clamp(15px, 4.5vh, 32.5px);
  font-weight: 600;

  color: rgba(255,255,255, 1);

  text-shadow: 
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.main-screen {
  position: absolute;
  top: 3%;
  bottom: 3%;
  left: 13%;
  width: 74%;
  /*var min-width - 17*/
  min-width: 238px !important;
  /*var min-height - 11.5*/
  min-height: 323.5px !important;

  border: 0.1px solid rgba(var(--secondary-rgb), 0.55);
  z-index: 1;

  box-shadow: 0px 0px 10px 1px rgba(var(--primary-rgb), 0.25);
}

@media only screen and (max-width: 325px) {
  .main-screen {
      left: 1.25%;
      width: 97.5%;
  }
}
@media only screen and (min-width: 325px) and (max-width: 450px) {
  .main-screen {
      left: 3%;
      width: 94%;
  }
}
@media only screen and (min-width: 450px) and (max-width: 600px) {
  .main-screen {
      left: 5%;
      width: 90%;
  }
}
@media only screen and (max-height: 475px) {
  .main-screen {
      top: 1.5%;
      bottom: 1.5%;
  }
}

.main-screen-page {
  position: relative;
  z-index: 1;
  border-radius: 5px;
}

#main-screen-addorns {
  background-color: inherit;
  height: 100%;
}

.corner {
  position: absolute;
}
#main-screen-addorns .corner {
  background: none;
  height: 30vh;
  width: 27.5vw;
}

#top-left {
  top: 5px;
  left: 5px;
  border-radius: 7.5px 0 0 0;
  border-top: 15px solid rgb(var(--primary-rgb));
  border-left: 15px solid rgb(var(--primary-rgb));
}

#top-left-rounded-corner {
  position: absolute;
  top: 12px;
  left: 12px;
  height: 20px;
  width: 20px;
  border-radius: 13.5px 0 0 0;
  border-top: 7.5px solid rgb(var(--primary-rgb));
  border-left: 7.5px solid rgb(var(--primary-rgb))
}

#top-left-right-triangle {
  position: absolute;
  top: 5px;
  left: 27.5vw;
  margin-left: 4.50px;
  width: 10px;
  height: 10px;
  background-color: rgb(var(--primary-rgb));
  border-left: 15px solid transparent; /* Adjust the width of the left side */
  border-bottom: 15px solid transparent;  /* Set the color you desire */
  clip-path: polygon(0 0, 100% 0, 0 100%);

}

#top-left-bottom-triangle {
  position: absolute;
  top: 30vh;
  left: 5px;
  width: 10px;
  height: 10px;
  margin-top: 4.85px;
  background-color: rgb(var(--primary-rgb));
  border-left: 15px solid transparent; /* Adjust the width of the left side */
  border-bottom: 15px solid transparent;  /* Set the color you desire */
  clip-path: polygon(0 0, 100% 0, 0 100%);

}

#bottom-right {
  bottom: 5px;
  right: 5px;
  border-radius: 0 0 5px 0;
  border-bottom: 15px solid rgb(var(--primary-rgb));
  border-right: 15px solid rgb(var(--primary-rgb));
}

#bottom-right-rounded-corner {
  position: absolute;
  bottom: 12px;
  right: 12px;
  height: 20px;
  width: 20px;
  border-radius: 0 0 13.5px 0;
  border-bottom: 7.5px solid rgb(var(--primary-rgb));
  border-right: 7.5px solid rgb(var(--primary-rgb));
}

#bottom-right-left-triangle {
  position: absolute;
  bottom: 5px;
  right: 27.5vw;
  margin-right: 4.70px;
  width: 10px;
  height: 10px;
  background-color: rgb(var(--primary-rgb));
  border-left: 15px solid transparent; /* Adjust the width of the left side */
  border-bottom: 15px solid transparent;  /* Set the color you desire */
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

#bottom-right-top-triangle {
  position: absolute;
  bottom: 30vh;
  right: 5px;
  margin-bottom: 4.55px;
  width: 10px;
  height: 10px;
  background-color: rgb(var(--primary-rgb));
  border-left: 15px solid transparent; /* Adjust the width of the left side */
  border-bottom: 15px solid transparent;  /* Set the color you desire */
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

#main-content {
  position: absolute;
  top: 30px;
  left: 35px;
  right: 35px;
  bottom: 30px;
}

@media only screen and (max-width: 420px) {
  #main-content {
    left: 35px;
    right: 27.5px;
  }
}

#navigation-marker {
  position: relative;
  top: 10px;
  padding-left: 1.1vw;
  font-size: 3vh;
}