.contacts-page {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 1vw;
    z-index: 1;
}

.page-header {
    font-size: clamp(35px, 5vw, 50px);
    font-weight: 200;

    border-bottom: 2.5px solid rgb(var(--secondary-rgb));
}

.page-sub-header {
    width: 100%;
    height: 10%;
    margin-top: 10px;
}

.linkedIn-btn, .instagram-btn, .email-btn {
    background-color: rgb(var(--tertiary-rgb));
    padding: 5px;
    color: rgb(var(--details-rgb));
    font-size: max(2.7vh, 16px);
    transition: ease-in-out 0.25s;
    border-bottom: 1px solid rgb(var(--primary-rgb));
}

.instagram-btn {
    margin-left: 10px;  
}

.email-btn {
    margin-left: 10px;
}

.instagram-btn:hover, .linkedIn-btn:hover, .email-btn:hover {
    background-color: rgb(var(--reserve-rgb));
    color: rgb(var(--details-2-rgb));
}

.page-presentation {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    bottom: 0;
    right: 0;
    height: 80%;
    width: 30rem;
    max-width: 100%;
    overflow-y: auto;
    overflow-x:hidden;
    z-index: 1; 
    padding-right: 6.5px;
    margin-top: auto;
}

/* This can be done in a better way!*/
@media only screen and (max-height: 345px) {
    .page-presentation {
        height: 57.5%;
    }
}
@media only screen and (min-height: 346px) and  (max-height: 375px) {
    .page-presentation {
        height: 60%;
    }
}
@media only screen and (min-height: 376px) and (max-height: 450px) {
    .page-presentation {
        height: 65%;
    }
}
@media only screen and (min-height: 451px) and (max-height: 600px) {
    .page-presentation {
        height: 70.5%;
    }
}

.page-presentation > :first-child {
    margin-top: auto;
}

.page-presentation::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(var(--primary-rgb),0.25);
	border-radius: 10px;
	background-color: rgba(var(--reserve-rgb),0.5);
}

.page-presentation::-webkit-scrollbar
{
	width: 7px;
	background-color: rgba(var(--background-start-rgb), 0);
}

.page-presentation::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(var(--primary-rgb),0.25);
	background-color: rgba(var(--tertiary-rgb),0.5);
}

.intro-message {
    font-size: clamp(15px, 1.75vw, 18px);
    font-weight: 300;

    margin-right: auto;
    margin-top: auto;

    margin-left: 2.5px;
    margin-bottom: 4px;
}

.intro-message strong {
    color: rgb(var(--primary-rgb));
    font-weight: bold;
}

