.popup-body {
    position: fixed;
    z-index: 3;
    height: auto;
    top: 2%;
    right: 1%;
    max-width: 83.5%;
    background-color: rgb(var(--details-rgb));

    padding: 5px;

    border: 1px solid rgb(var(--secondary-rgb));
    border-radius: 5px;

    box-shadow: 9.5px 0 12.5px -1.5px rgba(var(--tertiary-rgb), 0.5);
}

.popup-content {
    width: 100%;
    flex-grow: 1; 
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;  
    color: rgb(var(--details-2-rgb));
}

.popup-content svg {
    color: rgb(var(--darker-green-rgb));
    width: 8vh;
    min-width: 30px;
    max-width: 42.5px;
    height: auto;

    margin-right: 10px;
    margin-left: 5px;
}

.popup-content svg:hover {
    color: rgb(var(--lighter-green-rgb));
    box-shadow: 0px 6px 7.5px -9px rgb(var(--lighter-green-rgb));

    transition: ease-in-out 0.2s;

    cursor: pointer;
}

.popup-message {
    font-size: clamp(13px, 2.5vh, 17px);
    font-weight: 300;

    display: inline;
    align-items: center;
    margin-right: 5px;
}